.note-container {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    justify-content: center;
    margin: 30px auto;
    gap:20px;
    letter-spacing: 1.2px;
    padding: 20px;
}

.note-info {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.author-date {
    display: flex;
    justify-content: flex-start;
    gap:10px
}

.ranking {
    display: flex;
    justify-content: flex-end;
    gap: 10px
}
.ranking button {
    background-color: green;
    height: 30px;
    width: 30px;
}

.ranking span {
    height: 30px;
    width: 30px;
    font-size: 1.2rem;
    margin-left: 2px;
    font-weight: bold;
}

hr {
    border:solid 0.5px rgb(136, 136, 136);
    width: 100%;
    color: rgb(136, 136, 136);
    height: 0.5px;
}

.title {
    font-size: 2rem;
    color: rgb(7, 143, 152);
    font-weight: bold;
}
article {
    text-align: left;
    text-indent: 15px;
    letter-spacing: 1.5px;
    line-height: 25px;
}