.note-container {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    justify-content: center;
    margin: 30px auto;
    gap:30px;
    letter-spacing: 1.2px;
    padding: 20px;
    flex-wrap: wrap;
}

.note-info {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.author-date {
    display: flex;
    justify-content: flex-start;
    gap:10px
}

.ranking {
    display: flex;
    justify-content: flex-end;
    gap: 10px
}
.ranking button {
    background-color: green;
    height: 30px;
    width: 30px;
}

.ranking span {
    height: 30px;
    width: 30px;
    font-size: 1.2rem;
    margin-left: 2px;
    font-weight: bold;
}

hr {
    border:solid 0.5px rgb(136, 136, 136);
    width: 100%;
    color: rgb(136, 136, 136);
    height: 0.5px;
}

.title {
    font-size: 2rem;
    color: rgb(7, 143, 152);
    font-weight: bold;
}
article {
    text-align: left;
    text-indent: 15px;
    letter-spacing: 1.5px;
    line-height: 25px;
    padding: 20px 80px;
}

.button-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.edit-and-delete-btn {
    display: flex;
    gap: 20px
}

.del-btn {
    background-color: rgb(141, 43, 43);
}

.edit-btn {
    background-color: rgb(58, 60, 175);
}

.edit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-title {
    display: flex;
    flex-direction: column;
}

.edit-section button {
    width: 270px;
}

.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-section h1 {
    color: rgb(7, 143, 152);
    font-size: 1.5rem;
    font-weight: bold;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 65%;
    gap: 15px;
}

.comment {
    display: flex;
    flex-direction: column;
    border: 0.2px solid rgb(175, 175, 175);
    padding: 5px;
    border-radius: 3px;
}

.comment-info {
    display: flex;
    align-items: flex-start;
}

.comment-info span{
    font-size: 60%;
    color: gray;
}

.comment-section input {
    width: 80%;
}