*{
    box-sizing: border-box;
}

h1 {
    color: rgb(7, 143, 152);
}

.register {
    border: 1px solid black;
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

span {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: left;
    margin-left: 16%;
}

input {
    margin-top: 5px;
    width: 69%;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    margin-bottom: 10px;
    padding: 5px;
    height: 54.66px;
    font-size: 20px;
}


.register-btn {
    width: 69%;
    height: 54.66px;
    font-size: 20px;
    color: white;
    background-color: rgb(7, 143, 152);
    border: 1px solid rgb(8, 178, 190);
    border-radius: 5px;
    padding: 5px;
    }

.register-btn:hover {
    background-color: rgb(8, 178, 190);
    padding: 6px;
}
