*{
    box-sizing: border-box;
  }

.admin-div {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-h1-div {
    width: 100%;
    height: 70px;
    background-color: rgb(7, 143, 152);
  }

.admin-h1 {
    margin-left: 10px;
    text-align: left;
    color: white;
  }

.admin-label {
    margin-top: 50px;
    color: rgb(7, 143, 152);
    margin-bottom: 5px;
}

.add-subject-input {
    width: 30%;
    height: 54.66px;
    margin-left: 35%;
    margin-bottom: 5px;
}

.admin-botton {
    width: 30%;
    height: 54.66px;
    margin-left: 35%;
    background-color: rgb(7, 143, 152);
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
    border: none;
}

.admin-botton:hover {
    background-color: rgb(8, 178, 190);
    padding: 6px;
}
