.div-my-notes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-notes-card{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    width: 1100px;
    height: 200px;
    border: none;
    border-radius: 8px;
    box-shadow: 8px 8px 21px -4px rgba(66, 68, 90, 0.39);  
    align-items: center;
    color: black;
    cursor: pointer;
    margin-top: 30px;
    text-align: left;

}

.note-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 30px;
    gap: 20px;

}

.note-buttons{
    display: flex;
    align-self: flex-end;
    margin-bottom: 30px;
    gap: 20px;
}

.remove-note-button{
    background: rgb(232, 86, 111);
}

.remove-note-button:hover{
    background: rgb(234, 106, 127);
}

.topic{
    font-size: 24px;
}

img{
    width: 20%;
    height: 80%;
}

.link{
    color: black;
}

