.subjectNotes {
    width: 70%;
    border: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
}

.subject-notes-conatiner{
    display: flex;
    flex-direction: row;
}

.empty-space {
    width: 30%;
    border: none;
}

.subjectNotes h1 {
    font-size: 70px;
}

.newTopicPanel {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.newTopicPanel label {
    font-weight: bold;
    color: rgb(7, 143, 152);
    margin-bottom: 10px;
}

.newTopicPanel input {
    width: 50%;
}

.newTopicPanel button {
    margin-top: 5px;
    border: 1px solid rgb(7, 143, 152);
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(7, 143, 152);
    width: 15%;
    height: 54.66px;
    font-size: 16px;
    color: white;
}

.one-topic {
    border-bottom: 1px solid gray;
    width: 80%;
    margin-left: 10%;
    color: rgb(7, 143, 152);
    font-weight: bold;  
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.one-topic .link{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-topic .link:hover {
    color: black;
    font-size: 24px;
}

.btn-go-to-subject {
    margin-top: 30px;
    width: 50%;
}

@media only screen and (max-width: 800px) {
    .subjectNotes {
       width: 100%;
  }
  .empty-space {
    width: 0%;
}
}

@media only screen and (max-width: 555px) {
    .subjectNotes {
       width: 100%;
  }
  .empty-space {
    width: 0%;
}
.newTopicPanel {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.newTopicPanel button {
    margin-top: 5px;
    border: 1px solid rgb(7, 143, 152);
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(7, 143, 152);
    width: 25%;
    height: 54.66px;
    font-size: 16px;
    color: white;
}
}