.background{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatars-container{
    width: 600px;
    height: 600px;
    border: none;
    border-radius: 8px;
    box-shadow: 8px 8px 21px -4px rgba(66, 68, 90, 0.39);  
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    background: white;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

img:hover{
    border: 2px solid teal;
}

button{
    background: teal;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 8px;

}

button:hover{
    background: rgb(7, 143, 152);
    cursor: pointer;
}
