*{
    box-sizing: border-box;
}

p {
    font-size: 18px;
    font-weight: bold;
}
.login {
    border: 1px solid black;
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.google-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-login {
    width: 70%;
    height: 54.66px;
    background-color: white;
    border: 1px solid rgb(7, 143, 152);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgb(7, 143, 152);
}

.google-login:hover {
    padding: 6px;
}

.facebook-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook-login {
    width: 70%;
    height: 54.66px;
    background-color: white;
    border: 1px solid rgb(7, 143, 152);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: rgb(7, 143, 152);
}

.facebook-login:hover {
    padding: 6px;
}

span {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: left;
    margin-left: 16%;
    color: rgb(7, 143, 152);
}

input {
    margin-top: 5px;
    width: 69%;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    margin-bottom: 10px;
    padding: 5px;
    height: 54.66px;
    font-size: 20px;
}


.login-btn {
    width: 71%;
    height: 54.66px;
    font-size: 20px;
    color: white;
    background-color: rgb(7, 143, 152);
    border: 1px solid rgb(8, 178, 190);
    border-radius: 5px;
    padding: 5px;
    }

.login-btn:hover {
    background-color: rgb(8, 178, 190);
    padding: 6px;
}

img {
width: 30px;
}

.register-link{
    color: teal;
    font-size: 14px;
}

.register-p{
    margin-top: 30px;
    font-size: 14px;
}