@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
.note-list-container {
    display: flex;
    flex-direction: column;
    max-width: 1050px;
    justify-content: center;
    margin: 30px auto;
    gap:20px;
    letter-spacing: 1.2px;
    padding: 20px;
    flex-wrap: wrap;
}

.title {
    
    font-size: 2rem;
    color: rgb(7, 143, 152);
     font-weight: bold;

}

.add-note button {
    width: 200px;
    height: 80px;
    padding: 10px;
}

.add-note-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.add-title {
    display: flex;
    flex-direction: column;
}

.add-body {
    display: flex;
    flex-direction: column;
}

.notes-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.subject-link {
    height: 300px;
    width: 200px;
    background-color:#ffc;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
}

.subject-link:nth-child(even) {
    transform:rotate(4deg);
    position:relative;
    top:5px;
  }

  .subject-link:nth-child(3n) {
    transform:rotate(-3deg);
    position:relative;
    top:-5px;
  }

  .subject-link:nth-child(5n) {
    transform:rotate(5deg);
    position:relative;
    top:-10px;
  }

  .subject-link:hover, .subject-link:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
    color: black;
  }

  .note .note-title {
    font-family: 'Sono', sans-serif;
    font-size: 20px;
    /* font-family: 'Reenie Beanie'; */
      
  }