*{
    box-sizing: border-box;
  }

.admin-div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-admin{
    width: 600px;
    height: 600px;
    margin: 100px auto;
}

.admin-label {
    margin-top: 50px;
    color: rgb(7, 143, 152);
    margin-bottom: 5px;
}

.add-subject-input {
    height: 54.66px;
    margin-bottom: 5px;
}

.add-subject-button {
    height: 54.66px;
    background-color: rgb(7, 143, 152);
    margin-top: 5px;
    color: white;
    border-radius: 5px;
    border: none;
}

.add-subject-button:hover {
    background-color: rgb(8, 178, 190);
    padding: 6px;
}

.subject-link{
    color: black;
}
