*{
  box-sizing: border-box;
  font-size: 26px;
}


.div-subject {
  display: flex;
  width: 100%;
  height: 100%;
}



.h1-subjects {
  margin-left: 10px;
  text-align: left;
  color: white;
}

.subject {
  width: 20%;
  height: 20vh;
  margin: 2.5%;
  justify-content: center;
  border-radius: 2.5%;
  border: 2px solid rgb(7, 143, 152);
  padding-top: 8vh;  
  color: black;
  box-shadow: 8px 8px 21px -4px rgba(66, 68, 90, 0.39);
}

.subject:hover {
  background-color: rgb(7, 143, 152);
}

