*{
  box-sizing: border-box;
  font-size: 26px;
}

.div-subject {
  display: flex;
  border: 1px solid black;
  width: 35%;
  height: 100%;
  flex-wrap: wrap;
  align-content: space-between;
}

.subject {
  width: 40%;
  height: 20vh;
  margin: 5%;
  background-color: rgb(7, 143, 152);
  justify-content: center;
  border-radius: 10%;
  border: 2px solid black;
  padding-top: 8vh;
  
}

a {
  text-decoration: solid;
  margin: 0 auto;
  color: white;
  margin-top: 8vh;
}
a.href {
  text-decoration: solid;
  margin: 0 auto;
  color: white;
}

a.hover {
  text-decoration: solid;
  margin: 0 auto;
  color: white;
}