*{
    box-sizing: border-box;
}


.register-container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.register {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 3px;
    margin: 150px auto;
}

.logo{
    width: 200px;
    height: 100px;
    margin-top: 30px;
}

h3{
    font-size: 20px;
    margin-bottom: 30px;
}

.error-message{
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(181, 42, 42);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.name-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.email-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.password-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    margin-top: 20px;
    color: teal;
}

input {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    margin-bottom: 10px;
    padding-left: 15px;
    height: 54.66px;
    width: 400px;
    font-size: 20px;
}

.register-btn {
    width: 400px;
    height: 54.66px;
    font-size: 20px;
    color: white;
    background-color: rgb(7, 143, 152);
    border: 1px solid rgb(8, 178, 190);
    border-radius: 5px;
    padding: 5px;
    align-self: center;
    }

.register-btn:hover {
    background-color: rgb(8, 178, 190);
    padding: 6px;
}

.login-link{
    color: teal;
    font-size: 14px;
}

.login-link:hover{
    color: black;
}

.user-panel-paragraf {
    margin-bottom: 5px;
}

