
*{
    box-sizing: border-box;
}

.login-container{
    display: flex;
    width: 100vw;
    background-image: url('../../../src/img/takingNotes.png'); 
    background-repeat: no-repeat;
    background-size: cover;

}

.logo{
    margin-bottom: 40px;
    width: 200px;
    height: 100px;
    
}


.login {
    width: 500px;
    height: 700px;
    margin: 150px auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.google-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-login {
    width: 400px;
    height: 54.66px;
    background-color: white;
    border: 1px solid rgb(7, 143, 152);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 20px;
    color: rgb(7, 143, 152);
}

.google-login:hover {
        background:rgb(8, 178, 190);
        color: white;
}

.google-login img{
    width: 30px;
    height: 30px;
}

.facebook-login img{
    width: 30px;
    height: 30px;
}

.facebook-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook-login {
    width: 400px;
    height: 54.66px;
    background-color: white;
    border: 1px solid rgb(7, 143, 152);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(7, 143, 152);
    font-size: 18px;

}

.facebook-login:hover {
    background:rgb(8, 178, 190);
    color: white;
}

label {
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: left;
    color: rgb(7, 143, 152);
}

input {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    margin-bottom: 10px;
    padding: 15px;
    height: 54.66px;
    font-size: 20px;
}


.login-btn {
    width: 400px;
    height: 54.66px;
    font-size: 20px;
    color: white;
    background-color: rgb(7, 143, 152);
    border: 1px solid rgb(8, 178, 190);
    border-radius: 5px;
    padding: 5px;
    }

.login-btn:hover {
    background:rgb(8, 178, 190);
}

img {
width: 30px;
}

.register-link{
    color: teal;
    font-size: 14px;
}

.register-p{
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
}

.register-link:hover{
    color: black;
}

@media only screen and (max-width: 615px) {
    .login-container {
        background-image: unset;
        background-color: white;
    }

   .login-btn, #email, #password, .facebook-login, .google-login {
    width: 300px;
   }
  }