*{
    box-sizing: border-box;
    font-size: 16px;
}

.div-nav-container {
    width: 100%;
    height: 70px;
    background-color: rgb(7, 143, 152);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

.avatar-school-container{
    display: flex;
    width: 700px;
    gap: 20px;
    align-items: center;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    align-self: center;
}

.user-name{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.user-school{
    color: white;
    font-size: 18px;
}

.div-my-notes-signout-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

a{
    width: 100px;
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.button-logout{
    height: 40px;
    width: 100px;
    background: rgb(7, 143, 152);
    border: none;
    color: white;
    cursor: pointer;
}

.button-add-subject{
    background: rgb(7, 143, 152);
    border: none;
    color: white;
    cursor: pointer;
}

.my-notes-style{
    width: 120px;
}