*{
    box-sizing: border-box;
    font-size: 16px;
}


.div-nav-container {
    width: 100%;
    background-color: rgb(7, 143, 152);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

.navigation-logo {
    display: flex;
    width: 210px;
    height: 68px;
}

.navigation-logo:hover {
    border: 1px solid black;
}

.avatar-school-container{
    display: flex;
    align-items: center;
}

.avatar{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    align-self: center;
}

.user-name{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.user-school{
    color: white;
    font-size: 18px;
}

.div-my-notes-signout-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

a{
    width: 100px;
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.button-logout{
    height: 40px;
    width: 100px;
    background: rgb(7, 143, 152);
    border: none;
    color: white;
    cursor: pointer;
}

.button-add-subject{
    background: rgb(7, 143, 152);
    border: none;
    color: white;
    cursor: pointer;
}

.my-notes-style{
    width: 120px;
}


.isHover {
    position: absolute;
    top: 62px;
    right: 8px;
    background-color: white;
    box-shadow: 8px 8px 21px -4px rgba(66, 68, 90, 0.39);
    width: 240px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5px;
    transition-duration: 500ms;
    gap: 10px;
}

a.my-notes-style.active {
    padding: 0px;
}

.active {
    padding: 0px !important;
}


.user-avatar-dropdown {
    width: 70px;
    height: 70px;
}

.user-avatar-dropdown:hover {
    width: 72px;
    height: 72px;
}

.user-name-dropdown {
    font-size: 20px;
}

.isNotHover {
    position: absolute;
    top: -500px;
    transition-duration: 500ms;
}

@media only screen and (max-width: 555px) {
    .div-nav-container {
        width: 100%;
        background-color: rgb(7, 143, 152);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
      }
      .div-my-notes-signout-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap-reverse;
    }
   
  }